<%= form_for (@post) do |f| %>
<ul>
  <% @post.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
</ul>
<p>
<%= f.label :title %>
<%= f.text_field :title %>
</p>
<p>
  <%= f.label :url %>
  <%= f.text_field :url %>
</p>
<p>
<%= f.submit "Submit" %>
</p>
<% end %>
