<div class="votes">
<div class="vote upvote">
<%= link_to post_votes_path(post), :method => :post do %>
<%= image_tag "up.svg", size: "10x10"%>
<% end %>
</div>
<div class="vote count">
<%= post.votes.size %>
</div>
<div class="vote downvote">
<%= link_to post_vote_path(post,1), method: :delete do %>
<%= image_tag "down.svg", size: "10x10" %>
<% end %>
</div>
</div>
