<div class="all-posts">
<% @posts.each do |post| %>

<div class ="actual-post">
  <%= render partial: 'votes' %><span><%= post.id%>. </span><a href="<%= post.url %>"><%= post.title %></a><br>
  <span><%= link_to "#{post.comments.size} comments" , post_path(post) %></span>
  </div>
<% end %>
</div>
